<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technology Blog</title>
    <link rel="stylesheet" href="/Develop/public/css/jass.css">
    <link rel="stylesheet" href="/Develop/public/css/style.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                <a href="/">Technology Blog</a>
            </h1>
            <nav>
                {{#if logged_in}}
                <a href="/Develop/public/js/profile.js">profile</a>
                <button class="no-button" id="logout">logout</button>
                {{else}}
                <a href="/Develop/public/js/login.js">login</a>
                {{/if}}
            </nav>
        </header>
        <main class="container container-fluid mt-5">
            {{{body}}}
        </main>
        <footer>

        </footer>
    </div>

    {{#if logged_in}}
    <script src="/Develop/public/js/logout.js"></script>
    {{/if}}

</body>

</html>